<!DOCTYPE html>
<html>
    <head>
      <title>SmRc198</title>
      <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>
    </head>
    <body>
        <div class="span4"></div>
        <div class="span4">
            <% flash.each do |name,msg| %>
                <div class="alert alert-<%= name == :notice ? 'success' : 'error' %>" >
                  <a class="close" data-dismiss="alert">x</a>
                  <%= msg %>
                </div>
            <% end %>
            <%= yield %>
        </div>

        <div class="span4"></div>
    </body>
</html>
